img {
    height: 200px;
    width: 200px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 18px;
}

.card {
    text-align: center;
    border: 1px solid black;
}

@media (max-width: 900px) {
  #grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  #grid {
    grid-template-columns: 1fr;
  }
}