<%- include("head") %>
<body>
    <div class = "container">
        <!-- heaher -->
        <%- include("header") %>
        <!-- Content -->

        <!-- footer -->
        <%- include("footer") %>
     </div>
</body>
</html>