.main-container{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    gap: 20px;
}

.card {
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    max-width: 350px;
    max-height: 200px;
    height: auto;
    border-radius: 10px;
}