body {
    padding: 20px
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card h3 {
  margin-top: 0;
}

.card p {
  color: #555;
}

@media (max-width: 700px) {
  #container {
    grid-template-columns: 1fr;
  }
}