@font-face {
    font-family: myWebFont;
    src: url(ChakraPetch-Regular.ttf);
}

body {
    font-size: 24px;
    font-family: myWebFont;
    margin: auto;
    width: 80%;
}

img {
    display: block;
    border-radius: 20px;
    width: 100%;
}

.bg p {
    border: 2px solid rgb(207, 207, 207);
    background-color: rgb(207, 207, 207);
    padding: 15px;
    border-radius: 10px;
}

table {
    border : 0.5px solid black;
    width: 100%;
}

td, th {
    border-bottom: 1px solid black;
}
